MODEL_NAME=OS-Copilot/OS-Atlas-Base-7B
DEVICE_MAP=auto
TORCH_DTYPE=auto
API_HOST=0.0.0.0
API_PORT=8000
DOMAIN_NAME=computeragent.pro
ENVIRONMENT=production
HF_HOME=app/model_cache
BASE_URL=https://computeragent.pro/api/chat
AI_AGENT_KEY=api_key
LOG_LEVEL=INFO